<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.EcommerceConnectionString"
            connectionString="Data Source=STEVENLUNA;Initial Catalog=Ecommerce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>